:root {
    --game-bg-color: #1111;
    --game-text-primary: #333;
    --game-text-secondary: #bbb;
    --game-primary-color: rgb(31, 70, 200);
    --game-font-size: 1.2rem;
}

body {
    font-family: monospace;
    padding: 3rem;
}

.game-container {
    box-sizing: border-box;
    max-width: 90%;
    width: 80rem;
    border-radius: 20px;
    background-color: var(--game-bg-color);
    padding: calc(var(--game-font-size)*1) calc(var(--game-font-size)*2.5);
    margin: 3.125em auto;
    font-size: var(--game-font-size);
    box-shadow: 0 0 calc(var(--game-font-size)) var(--game-text-secondary);
}

.game-title {
    font-size: calc(var(--game-font-size)*1.5);
    margin: 0;
    color: var(--game-primary-color);
    padding: 0;
    font-weight: bolder;
    transition: all 0.3s ease;
}

.timer {
    font-size: var(--game-font-size);
    font-weight: normal;
    margin-left: 0 1rem;
}

/*Container containing the two .guage s*/
.gaugeinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauge {
    width: calc(var(--game-font-size)*5);
    margin: 0 calc(var(--game-font-size)/3);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--game-font-size);
}

hr {
    border: thin solid var(--game-text-secondary);
}

.game-container #Type-again-button {
    display: none;
}

.game-container.over #Type-again-button {
    display: block;
}

#Type-again-button {
    background-color: transparent;
    color: var(--game-primary-color);
    border: 2px solid var(--game-primary-color);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-align: right;
    transition: all 0.3s ease;

    position: relative;
    isolation: isolate;
}

#Type-again-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--game-primary-color);
    inset: 0;


    transition: scale 0.45s ease;
    scale: 0 1;
    transform-origin: right;
}

#Type-again-button:hover {
    color: white;
    background-color: transparent;
}

#Type-again-button:hover::after,
#Type-again-button:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
}

@keyframes rotating-shadow {
    0% {
        box-shadow:
            calc(var(--game-font-size)/3) calc(var(--game-font-size)/3) calc(var(--game-font-size)/3) var(--game-primary-color);
    }

    30% {
        box-shadow:
            calc(var(--game-font-size)/-3) calc(var(--game-font-size)/3) calc(var(--game-font-size)/3) var(--game-primary-color);
    }

    50% {
        box-shadow:
            calc(var(--game-font-size)/-3) calc(var(--game-font-size)/-3) calc(var(--game-font-size)/3) var(--game-primary-color);
    }

    70% {
        box-shadow:
            calc(var(--game-font-size)/3) calc(var(--game-font-size)/-3) calc(var(--game-font-size)/3) var(--game-primary-color);
    }

    100% {
        box-shadow:
            calc(var(--game-font-size)/3) calc(var(--game-font-size)/3) calc(var(--game-font-size)/3) var(--game-primary-color);
    }
}

#info {
    color: var(--game-primary-color);
}

/* Style of an individual word in the #words container*/
.word {
    font-family: monospace;
    margin: 0 calc(var(--game-font-size)/2.5);
    display: inline-block;
}

.underlined {
    text-decoration: underline;
    text-decoration-color: #f55;
    text-decoration-thickness: calc(var(--game-font-size)/10);
    text-underline-offset: calc(var(--game-font-size)/2.5);
}

div#game {
    position: relative;
    line-height: calc(var(--game-font-size)*2);
    /* So that only 3 lines are displayed at a time*/
    height: calc(var(--game-font-size)*6);
    /* So that the rest of the lines are hidden*/
    /* overflow-y: hidden; */
    overflow: hidden;
    margin-block: calc(var(--game-font-size));
}

#game:focus {
    outline: 0;
}

#game:focus #words {
    filter: blur(0);
}

#game.over {
    filter: none;
}

#game.over {
    filter: none;
}

#game:focus #focus-error {
    display: none;
}

#words {
    filter: blur(calc(var(--game-font-size)/6));
    color: var(--game-text-secondary);
    transition: all 0.1s ease-out;
    letter-spacing: calc(var(--game-font-size)/6);
    border: thin solid var(--game-text-secondary);
    border-radius: var(--game-font-size);
    padding: var(--game-font-size);
}

#focus-error {
    font-size: calc(var(--game-font-size)/1.2);
    position: absolute;
    inset: 0;
    text-align: center;
    color: var(--game-text-primary);
    top: calc(var(--game-font-size)*2.5);
}

.letter {
    border-radius: calc(var(--game-font-size)/4);
    text-align: center;
}

.correct {
    color: var(--game-text-primary);
    background-color: rgb(96, 192, 142, 0.2);
}

.incorrect {
    color: #f55;
    background-color: rgb(255, 85, 85, 0.1);
}

.letter.current {
    /* text-decoration: underline; */
    position: relative;
    text-decoration-color: var(--game-primary-color);
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.3em;
}

.game-container .over .letter {
    opacity: 0.5;
}

.game-container .over #words {
    filter: none;
}

.game-container .over #focus-error,
.game-container .over #cursor,
.game-container .over #opponent-cursor {
    display: none;
}

.extra {
    opacity: 0.5;
}

#cursor,
#opponent-cursor {
    width: calc(var(--game-font-size)/8);
    height: var(--game-font-size);
    background: var(--game-primary-color);
    position: absolute;
    top: calc(var(--game-font-size)*1.5);
    left: calc(var(--game-font-size));
    animation: blink 0.5s infinite;
    transition: all 0.2s ease;
}

#opponent-cursor {
    background: #f55;
    animation-delay: 0.2s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.typing-logo {
    width: 6rem;
}

.results {
    display: flex;
    visibility: hidden;
    margin: -6.2rem;

    align-items: center;
    justify-content: space-evenly;
    padding-block: var(--game-font-size);
    transition: margin 1s ease, visibility 0.3s ease;
}

.errors {
    margin: 0;
    height: 8rem;
    overflow-y: scroll;
    line-height: 10px;
}