body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(10px) brightness(50%);
    border-radius: 15px;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #2828a7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}

button:hover {
    background-color: #214888;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1527af; /* Fallback to black color */
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: background-image 1s ease-in-out;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: background-image 1s ease-in-out;
}

